DATABASE_URL=postgresql+asyncpg://game_user:CHANGE_ME@10.0.0.12:5432/pixelforge_db
JWT_SECRET_KEY=CHANGE_ME_USE_OPENSSL_RAND_HEX_32
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
ENVIRONMENT=development
# Configuración anti-cheat (coins máximas por nivel)
MAX_COINS_LEVEL_1=20
MAX_COINS_LEVEL_2=35
MAX_COINS_LEVEL_3=50
MIN_SECONDS_LEVEL_1=30
MIN_SECONDS_LEVEL_2=45
MIN_SECONDS_LEVEL_3=60
